!Makefile
/box1/box1
/box2/box2
/box3/box3
/box4/box4
/box5/box5
/button1/button1
/button2/button2
/button3/button3
/bvalue/bvalue
/circle/circle
/drag/drag
/fonts/fonts
/himom/himom
/image/image
/ips/ips
/menu/menu
/patch/patch
/plot/plot
/preview/preview
/print/print
/rubband/rubband
/sendplot/sendplot
/zoomer/zoomer
