/*.debhelper
/*.log
/*.substvars
/autoreconf.after
/autoreconf.before
/debhelper-build-stamp
/files
/glyphs.tar
/ivtools-bin/
/ivtools-dev/
/libiv-unidraw2/
/libiv-unidraw2t64/
/libiv2/
/libiv2t64/
/patches/debian-changes-*
/tmp
